/*
Theme Name: AudioPhile Child Theme
Theme URI: https://catchthemes.com/themes/audioman/
Author: Sean Farrugia
Author URI: https://catchthemes.com/
Description: Child Theme of Audioman
Version: 1.0.0
Text Domain: audiophile
template: audioman
*/

/*Layout Styles*/
.page.no-sidebar .content-area, .single.no-sidebar .content-area { max-width: 1300px; margin: 0 auto;}
button#social-search-toggle { display: none !important;}
.home h1.entry-title.section-title { display: none; margin: 0 !important;}
.home header.entry-header { margin: 0 !important;}


/*Header Styling*/
.site-header{position: fixed !important;top:0px !important; left:0 !important;width: 100% !important; transition: 0.5s all ease !important;}
.sticky-header{background-color: rgba(255,255,255,0.99);}
.sticky-header a, .sticky-header button, .sticky-header p{ color: #333 !important; }
.home .site-header-text {margin-top: -36px !important;}
.admin-bar .site-header{top:32px !important;}
li#menu-item-196 a, li#menu-item-197 a {padding: 5px 15px;transition: 0.5s all ease;background-color: #ff5858;border: 1px solid #ff5858;margin-right: 10px;color: #fff !important;}
li#menu-item-196 a:hover {color: #fff;background-color: transparent;border-color: #fff;}
li#menu-item-197 a:hover {color: #fff;background-color: transparent;border-color: #fff;}
a.readmore { background-color: #ff5858; background-image: none !important;}
.sticky-header li#menu-item-196 a{color: #fff !important;background-color: #333;border: 1px solid #333;}
.sticky-header li#menu-item-196 a:hover{border-color: #333;color: #333 !important; background-color: transparent !important;}
.sticky-header li#menu-item-197 a{color: #fff !important;background-color: #333;border: 1px solid #333;}
.sticky-header li#menu-item-197 a:hover{border-color: #333;color: #333 !important; background-color: transparent !important;}


/*Footer Styling*/
aside.widget-area.footer-widget-area.three>div { display: flex; align-items: center;}
section#media_image-2 img {opacity: 0.2;}
a#scrollup {background-image: none !important; bottom: 86px; right: 31px; background-color: #ff5858;}
button#speeching_button { border-radius: 0px !important; background-image: none;}
.widget-area li {font-size: 18px;}
.widget-area li a {font-weight: 600;text-decoration: underline;}
#site-generator{padding:0 !important;}
.footer-widget-area {padding: 0px 0 0 !important;}
section#woocommerce_product_search-2 input {transition: 0.5s all ease !important;border: 0px !important;background-color: #000 !important;border-radius: 0 !important;}


/*Social Footer*/
nav#social-footer-navigation { margin: 0; border-top: 1px solid rgba(255,255,255,.1); padding: 20px 0;}
nav#social-footer-navigation a { font-size: 27px !important;}
ul#menu-footer-menu { list-style: none;}


/*Woocommercce*/
a.remove { background-image: none !important; font-size: 30px !important; padding-top: 5px; color: #333 !important;}
a.remove:hover{background-color: #ff5858!important;}
.sticky-post, .more-link .readmore:hover, .more-link .readmore:focus, .header-media .more-link .readmore, #feature-slider-section .more-link .readmore, #hero-section .more-link .readmore, .promotion-section .more-link .readmore, .posts-navigation a, #content #infinite-handle span button, .widget-area .catch-instagram-feed-gallery-widget-wrapper .button, .button, button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus, #feature-slider-section .cycle-prev:hover, #feature-slider-section .cycle-prev:focus, #feature-slider-section .cycle-next:hover, #feature-slider-section .cycle-next:focus, #feature-slider-section .cycle-pager span:hover, #feature-slider-section .cycle-pager span:focus, #feature-slider-section .cycle-pager .cycle-pager-active, .widget_calendar tbody a, #gallery-section .gallery-item .gallery-icon a:after, #gallery-section .tiled-gallery .tiled-gallery-item a:after, .pagination .page-numbers.current, .woocommerce-pagination ul li span.current, .woocommerce-pagination ul li a:hover, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce input.button, .woocommerce input.button.alt, .woocommerce .product-container .wc-forward, .demo_store .woocommerce-store-notice__dismiss-link, .woocommerce ul.products li.product .onsale, .woocommerce span.onsale, #gallery-section .entry-footer .edit-link a, .audioman-mejs-container.mejs-container .mejs-controls .mejs-playpause-button.mejs-button button{background-image: none !important;background-color: #ff5858!important;border-radius:0px !important;}
button.search-submit { background-color: transparent !important;}
input#coupon_code {border-radius: 0; padding: 8px;}
.cart_totals { width: 100% !important;}
span#select2-billing_country-container {margin: -14px 0 !important;background-color: #000; border-radius: 0 !important;}
span.select2-selection.select2-selection--single { padding: 24px 7px !important;background-color: #000 !important; border: none !important; border-radius: 0 !important;}
span.select2-dropdown.select2-dropdown--above {background-color: #333 !important; border: none !important; border-radius: 0;}
input.select2-search__field { border: none !important;border-radius: 0;}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] { background-color: #ff5858 !important; color: #fff;}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] { background-color: #000 !important;}
span.select2-dropdown.select2-dropdown--below { background-color: #333 !important; border: none !important;border-radius: 0 !important;}
input.select2-search__field { display: none;}
div#payment { background-color: #333 !important;}
li.woocommerce-notice.woocommerce-notice--info.woocommerce-info { color: #fff;padding: 20px; text-align: center !important;}
.woocommerce-info::before { display:none !important;}

/*Login Styling*/
form.woocommerce-form.woocommerce-form-login.login, .woocommerce form.register {padding: 0;border: 0;transition: 0.5s all ease;}
.woocommerce form .form-row input.input-text:focus {background-color: #333;}
input#aiowps-captcha-answer:focus {background-color: #333;}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, input#aiowps-captcha-answer {border: 0;border-radius: 0;transition: 0.5s all ease;}
button.woocommerce-button.button.woocommerce-form-login__submit {width: 100%;margin-top: 20px;border-radius: 0;background-color: #ff5858;background-image: none;}


/*Cookie Notice Styling*/
.shareaholic-cookie-consent { bottom: 0 !important; background-color: #333 !important; box-shadow: none !important; height: 80px !important;top: unset !important;}
.shareaholic-cookie-consent .shareaholic-cookie-consent-buttons .shareaholic-accept-button {background: #ff5858 !important;color: #fff !important; padding: 10px 40px !important;font-family: 'Roboto' !important; font-weight: 500 !important; border: 1px solid #ff5858 !important;}
.shareaholic-cookie-consent .shareaholic-cookie-consent-buttons a.shareaholic-info-button {font-weight: 300 !important;background: transparent !important; color: #fff !important; font-family: 'Roboto'; border: 1px solid #fff; padding: 9px 20px !important;}
.shareaholic-cookie-consent .shareaholic-cookie-consent-buttons .shareaholic-accept-button:hover {background: none !important; color: #ff5858 !important;}


/*AP Heading*/
.wrap {height: 78px;position: relative;background: transparent;margin: 5px;}
h2.centre-line { text-align: center; position: absolute; top: 50%; left: 50%; width: 40%; transform: translate(-50%, -50%);}
h2.centre-line:before { content: ""; position: absolute; width: 100%; height: 1px; top: 50%; left: 0; z-index: -1; background: #ff5858;}
h2.centre-line span {background-color: #151515; padding: 30px; display: inline-block;}


/*Products/Service Pages*/
.custom-header-media {background-image: url(http://audiophile.local/wp-content/uploads/2020/04/MixingImg.png);background-size: cover; background-repeat: no-repeat; background-position: center;}
.woocommerce-product-gallery {display:none;}
.summary.entry-summary {float: none !important;width: 100% !important;padding: 0 !important;}
ul.tabs.wc-tabs {display: none;}
div#tab-description {padding-top: 35px;}
button.single_add_to_cart_button.button.alt {border-radius: 0 !important;background-image: none !important;background-color: #ff5858 !important}
ul.product_list_widget { display: grid;}
ul.product_list_widget li {width: 100%;}


/*Media Player Styling*/
.wavesurfer-player wave{background-color: #333 !important;}
.wavesurfer-player wave>wave{background-color: #fff !important;}
button.wavesurfer-play,button.wavesurfer-active-button, button.wavesurfer-stop, button.wavesurfer-stop.wavesurfer-active-button { margin: 0 !important; border-radius: 0; background-color: #ff5858 !important;background-image: none;}
.wavesurfer-buttons_set { display: grid !important; grid-template-columns: repeat(2,1fr) !important; align-items: center !important;margin-top: 10px;}
.wavesurfer-time, .wavesurfer-duration { margin: 0 !important;}
.wavesurfer-block button, .wavesurfer-time, .wavesurfer-duration{width: 100% !important;text-align: center;}
.wavesurfer-time, .wavesurfer-duration { font-family: "Roboto" !important; background-color: #333 !important;}
h2.audio-title {font-size: 23px; margin-top: 20px !important;}
.submit-search-audio{position: absolute; right: 0; top: 7px; border-radius: 0 !important;}
input.search-audios {transition: 0.5s all ease !important;border: 0px !important;background-color: #000 !important;border-radius: 0 !important;}
input.submit-search-audio{border-radius: 0; background-color: #ff5858 !important;background-image: none;}
input.submit-search-audio:hover, input.submit-search-audio:focus{background-image: none!important; background-color: #333 !important}
button.wavesurfer-play, .wavesurfer-time {border-right: 1px solid rgba(255,255,255,.3) !important;}
input.search-audios:focus{background-color: #333 !important}
.search-audio-form{position: relative;}
h2.audio-title {font-size: 23px; margin: 20px 0 !important;text-align: center;}
.card-body a:hover {background-color: #333; color: #fff;}
.card-body {transition: 0.5s all ease;}
.card-body:hover { margin-top: -20px;}
.audio-list {display: grid; grid-gap: 30px;}
.audio-item {padding: 10px 30px; border: 1px solid rgba(255,255,255,.2);margin-top: 15px;}
.wavesurfer-buttons_set {opacity: 0.5;transition: 0.5s all ease;}
.audio-item:hover .wavesurfer-buttons_set{opacity: 1;}


/*Pricing Tables*/
.pricing-cards { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 40px;}
.card-body h5, .card-body h6 {text-align: center;color: #fff !important;}
.card-body h5 {font-size: 30px !important;font-weight: bold;margin-bottom: 10px;}
.card-body h6 {font-size: 18px !important; font-weight: 300;margin-bottom: 25px;margin-top: 0;}
.card-body hr { height: 1px !important; background-color: rgba(255,255,255,.4) !important;margin-bottom: -14px;}
.card-body li { color: #fff;}
.card-body { background-color: #333;padding: 25px;position: relative;}
.card-body ul { padding: 35px; line-height: 2.5;margin: 0;}
.card-body li.text-muted { color: rgba(255,255,255,.2);}
.card-body a {position: absolute; bottom: 0;left: 0; background-color: #ff5858; width: 100%; height: 50px; display: flex;  align-items: center;justify-content: center;}


/*Events*/
.mec-event-meta.mec-color-before.mec-frontbox { display: none;}
.mec-events-event-image { display: none;}
.mec-events-template-default .col-md-4 { display: none;}
.mec-color, .mec-color-before :before, .mec-color-hover:hover, .mec-wrap .mec-color, .mec-wrap .mec-color-before :before, .mec-wrap .mec-color-hover:hover { color: #ff5858 !important;}
.mec-border-color, .mec-border-color-hover:hover, .mec-wrap .mec-border-color, .mec-wrap .mec-border-color-hover:hover {   border-color: #ff5858 !important;}
.mec-month-divider span:before { border-bottom: 4px solid #ff5858;}
.mec-month-divider span { color: #f2f2f2;}
.post-type-archive-mec-events h1{display:none !important;}


/*Contact Us Page*/
svg.svg-inline--fa.fa-phone.fa-w-16 { transform: rotate(90deg);}
svg:not(:root).svg-inline--fa { margin-right: 10px;}
p.contact-title { font-size: 30px;}
form.wpcf7-form input,form.wpcf7-form textarea { border: none; border-radius: 0; margin-bottom: 9px !important;}


/*Featured Section*/
.featured-service {padding: 160px 0; display: flex; flex-flow: column; justify-content: center; align-items: center;}
.featured-service:after { transition: 0.5s all ease;content: ""; top: 0; left: 0; width: 100%; height: 100%; position: absolute; background-color: rgba(0,0,0,0.4);}
.featured-service:hover:after{background-color: rgba(0,0,0,0);}
h2.featured-title{z-index: 1; transition: 0.3s all ease;margin: 0 !important;}
.vc_row.wpb_row.vc_row-fluid.vc_custom_1588674848546.vc_row-no-padding .wpb_text_column {margin: 0;}
.featured-service h5 { margin: 10px 0 0;transition: 0.3s all ease;}
.featured-service:hover h2{opacity: 0 !important;}
.featured-service:hover h5{opacity: 0 !important;}


/*Pricing Tables*/
.pricing-cards { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 40px;}
.card-body h5, .card-body h6 {text-align: center;color: #fff !important;}
.card-body h5 {font-size: 30px !important;font-weight: bold;margin-bottom: 10px;}
.card-body h6 {font-size: 18px !important; font-weight: 300;margin-bottom: 25px;margin-top: 0;}
.card-body hr { height: 1px !important; background-color: rgba(255,255,255,.4) !important;margin-bottom: -14px;}
.card-body li { color: #fff;}
.card-body { background-color: #333;padding: 25px;position: relative;}
.card-body ul { padding: 35px; line-height: 2.5;margin: 0;}
.card-body li.text-muted { color: rgba(255,255,255,.2);}
.card-body a {position: absolute; bottom: 0;left: 0; background-color: #ff5858; width: 100%; height: 50px; display: flex;  align-items: center;justify-content: center;}


/*Mobile Menu Styling*/
input.search-field {  display: none;}
button#menu-toggle { background: transparent !important;}
a.user-acc { display: none;}